@page "/forgotrequestmessage/{email}"
@layout LoginLayout

<div class="app-logo-inverse mx-auto mb-3"></div>
<div class="modal-dialog w-100">
    <div class="modal-content">
        <div class="modal-header">
            <div class="h5 modal-title">
                Password reset request sent
                
            </div>
        </div>
        <div class="modal-body">
            <div>
                <p>A password reset message was sent to your email address. Please click the link in that message to reset your password</p>
                <br />
                <p>If you do not receive the password reset message within a few moments, please check your spam folder or other filtering tools.</p>
            </div>
            <div class="divider"></div>
            <h6 class="mb-0 text-center">
                <a href="/" class="btn btn-primary mrg-top-20" style="color:white">Go To Home Page</a>
            </h6>
        </div>
       
    </div>
</div>
<div class="text-center text-white opacity-8 mt-3">Copyright © ArchitectUI 2019</div>


@code {
    [Parameter]
    public string? email { get; set; }
}
