@page "/placement-renewal";

@if (HideApproval)
{
    <HRMSv4.Client.Shared.MainComponents.Fab OnClick="ClickHandler" ApprovalMode="true" ></HRMSv4.Client.Shared.MainComponents.Fab>
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h3>
               Renewal
            </h3>
        </div>
        <div class="page-title-actions">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Renewal</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="position-relative mb-3">
                    <label class="form-label" for="exampleEmail55">Status</label>
                    <select class="form-select form-control-sm form-control" onchange="@Filter">
                        <option value="0">All Records</option>
                        <option value="Pending" selected>Pending</option>
                        <option value="Approved">Approved</option>
                        <option value="Disapproved">Disapproved</option>
                    </select>
                </div>
              
            </div>
        </div>

    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="col-12 mt-2">
            <h5 class="card-header-text float-start">Renewal</h5>

        </div>
    </div>

   <RadzenDataGrid Responsive=true @ref="renewalGrid" AllowFiltering="true" AllowPaging="true" PageSize="20" AllowSorting="true"
                    Data="@renewalEmployees" TItem="HRMSv4.Shared.OnBoarding.RenewalEmployeeListView" SelectionMode="DataGridSelectionMode.Multiple"PagerAlwaysVisible="true" ShowPagingSummary="true" PagerHorizontalAlign="HorizontalAlign.Center"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple"
                    @bind-Value=@selectedEmployees ColumnWidth="300px">
        <Columns>
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Property="Status" Title="Status" Frozen="true" Width="80px" />
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Title="Photo" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                <Template Context="employee">
                    @if (string.IsNullOrWhiteSpace(employee.ImageName))
                    {
                        <RadzenImage Path="images/avatars/default-avatar.png" style="width: 40px; height: 40px; border-radius: 8px;" />
                    }
                    else
                    {
                        <RadzenImage Path=@(@apiURL + "Uploads/Employees/Avatar/" + employee.EmployeeId + "/" + employee.ImageName) style="width: 40px; height: 40px; border-radius: 8px;" />
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Property="FullName" Title="Full Name" Width="140px" />
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Property="NewPosition" Title="Position" Width="140px" />
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Property="EmploymentStatus" Title="Employment Status" Width="140px" />
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Property="OrganizationalLevel" Title="Organizational Level" Width="140px" />
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Property="EffectivityDate" Title="Effectivity Date" Frozen="true" Width="140px" />
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Property="DateEncoded" Title="Date Encoded" Width="140px" />
            <RadzenDataGridColumn TItem="RenewalEmployeeListView" Property="ApprovedDeclined" Title="Approved/Declined By" Width="140px" />            
        </Columns>
    </RadzenDataGrid>
</div>


