@page "/JobPortal/JobCategory"
@using HRMSv4.Client.Service
@inject IJobCategory jobcategory

<div class="page-title">
    <div class="container">
        <div class="page-caption">
            <h2>Job Categories</h2>
            <p><a href="#" title="Home">Home</a> <i class="ti-angle-double-right"></i> Browse by Categories</p>
        </div>
    </div>
</div>
<section class="padd-top-80 padd-bot-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in categories)
                {
                    <div class="col-md-3 col-sm-6">
                        <a href="browse-job.html" title="">
                            <div class="utf_category_box_area">
                                <div class="utf_category_desc">
                                    <div class="utf_category_icon"> <i class="ti-briefcase" aria-hidden="true"></i> </div>
                                    <div class="category-detail utf_category_desc_text">
                                        <h4>@item.Category</h4>
                                        <p>@item.JobOpeningCount Jobs</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@code {
    List<JobCategoryListview> categories = new List<JobCategoryListview>();

    protected override async Task OnInitializedAsync()
    {
        categories = await jobcategory.GetPreview();
    }
}
