@page "/jobdetail"
@using HRMSv4.Client.Service

<style>
    body {
        background: #ffffff !important;
    }

    .main {
        display: block;
        margin-top: 0;
    }

    a {
        color: #05264E !important;
    }

    .btn.btn-default {
        color: #ffffff !important;
        background-color: #05264E;
        padding: 10px 25px;
    }

        .btn.btn-default:hover {
            background-color: #3466aa;
            transform: translateY(-2px);
            transition: 0.2s;
        }
    


    ul.mobile-menu.font-heading {
        padding-left: 0;
    }

    .footer .footer-bottom {
        border-top: 1px solid #E0E6F7 !important;
        padding: 30px 0px;
        color: #4F5E64;
        font-size: 14px;
    }
</style>

<link rel="stylesheet" href="/css/style.css" type="text/css" />

<header class="header sticky-bar" style="background:transparent; border-bottom: none;">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a class="d-flex" href="/test-home"><img alt="" src="images/primehr-logo.svg"></a></div>
            </div>
            <div class="header-nav">
                <nav class="prime-nav-main-menu">
                    <ul class="prime-main-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li>
                            <a href="#">Services</a>
                            <ul class="sub-menu">
                                <li><a href="#">Services 1</a></li>
                                <li><a href="#">Services 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
            <div class="header-right">
                <div class="block-signin">
                    <a class="text-link-bd-btom hover-up" href="/applicant">Register</a>
                    <a class="btn btn-default btn-shadow ml-40 hover-up" href="/login">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-search mobile-header-border mb-30">
                    <form action="#">
                        <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start-->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li>
                                <a href="/test-home">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Services 1</a></li>
                                    <li><a href="#">Services 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="mobile-menu font-heading">
                            <li><a href="/applicant">Register</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-search mobile-header-border mb-30">
                    <form>
                        <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start-->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li>
                                <a href="/test-home">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Services 1</a></li>
                                    <li><a href="#">Services 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="mobile-menu font-heading">
                            <li><a href="/applicant">Register</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-image-single"><img src="images/job-details/thumb.png" alt=""></div>
            <div class="row mt-10">
                <div class="col-lg-8 col-md-12">
                    <h3>Science Research Specialist II</h3>
                    <h5>Asst. Provincial Science and Technology Director</h5>
                    <h6>Department of Science and Technology - Region VI</h6>
                    <div class="mt-0 mb-15"><span class="card-briefcase">Fulltime</span><span class="card-time">3 mins ago</span></div>
                </div>
                <div class="col-lg-4 col-md-12 text-lg-end">
                    <div class="btn btn-apply-icon btn-apply btn-apply-big hover-up" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                </div>
            </div>
            <div class="border-bottom pt-10 pb-10"></div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="job-overview">
                        <h5 class="border-bottom pb-15 mb-30">Employment Information</h5>
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <div class="sidebar-icon-item"><img src="images/job-details/industry.svg" alt=""></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description industry-icon mb-10">Place of Assignment</span><strong class="small-heading"> DOST VI (Provincial Science and Technology Office, Antique)</strong></div>
                            </div>
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="images/job-details/job-level.svg" alt=""></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description joblevel-icon mb-10">Plantilla Item No.:</span><strong class="small-heading">OSEC-DOSTB-SRAS2-79-1998</strong></div>
                            </div>
                        </div>
                        <div class="row mt-25">
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="images/job-details/salary.svg" alt=""></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description salary-icon mb-10">Salary/Job/Pay Grade</span><strong class="small-heading">16</strong></div>
                            </div>
                            <div class="col-md-6 d-flex">
                                <div class="sidebar-icon-item"><img src="images/job-details/experience.svg" alt=""></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description experience-icon mb-10">Monthly Salary</span><strong class="small-heading">Php 38,150.00</strong></div>
                            </div>
                        </div>
                        <div class="row mt-25">
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="images/job-details/job-type.svg" alt=""></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description jobtype-icon mb-10">Eligibility</span><strong class="small-heading">Career Service Professional/Second Level Eligibility</strong></div>
                            </div>
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="images/job-details/deadline.svg" alt=""></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description mb-10">Education</span><strong class="small-heading">Bachelor's Degree Relevant to Job</strong></div>
                            </div>
                        </div>
                        <div class="row mt-25">
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="images/job-details/updated.svg" alt=""></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description jobtype-icon mb-10">Training</span><strong class="small-heading">Four(4) hours of relevant training</strong></div>
                            </div>
                            <div class="col-md-6 d-flex mt-sm-15">
                                <div class="sidebar-icon-item"><img src="images/job-details/location.svg" alt=""></div>
                                <div class="sidebar-text-info ml-10"><span class="text-description mb-10">Work Experience</span><strong class="small-heading">1 year of relevant experience</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="content-single">
                        <h4>Essential Knowledge, Skills, and Experience</h4>
                        <ul>
                            <li>A portfolio demonstrating well thought through and polished end to end customer journeys</li>
                            <li>5+ years of industry experience in interactive design and / or visual design</li>
                            <li>Excellent interpersonal skills</li>
                            <li>Aware of trends in&#x202F;mobile, communications, and collaboration</li>
                            <li>Ability to create highly polished design prototypes, mockups, and other communication artifacts</li>
                            <li>The ability to scope and estimate efforts accurately and prioritize tasks and goals independently</li>
                            <li>History of impacting shipping products with your work</li>
                            <li>A Bachelor&rsquo;s Degree in Design (or related field) or equivalent professional experience</li>
                            <li>Proficiency in a variety of design tools such as Figma, Photoshop, Illustrator, and Sketch</li>
                        </ul>
                        <h4>Preferred Experience</h4>
                        <ul>
                            <li>Designing user experiences for enterprise software / services</li>
                            <li>Creating and applying established design principles and interaction patterns</li>
                            <li>Aligning or influencing design thinking with teams working in other geographies</li>
                        </ul>
                        <h4>Product Designer</h4>
                        <p><strong>Product knowledge:</strong> Deeply understand the technology and features of the product area to which you are assigned.</p>
                        <p><strong>Research:</strong> Provide human and business impact and insights for products.</p>
                    </div>
                    <div class="single-apply-jobs">
                        <div class="row align-items-center">
                            <div class="col-md-5"><a class="btn btn-default mr-15" href="#">Apply now</a><a class="btn btn-border" href="#">Save job</a></div>
                            <div class="col-md-7 text-lg-end social-share">
                                <h6 class="color-text-paragraph-2 d-inline-block d-baseline mr-10">Share this</h6><a class="mr-5 d-inline-block d-middle" href="#"><img alt="" src="images/icons/share-fb.svg"></a><a class="mr-5 d-inline-block d-middle" href="#"><img alt="" src="images/icons/share-tw.svg"></a><a class="mr-5 d-inline-block d-middle" href="#"><img alt="" src="images/icons/share-red.svg"></a><a class="d-inline-block d-middle" href="#"><img alt="" src="images/icons/share-whatsapp.svg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
                    <div class="sidebar-border">
                        <div class="box-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.3150609575905!2d-87.6235655!3d41.886080899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca8b34afe61%3A0x6caeb5f721ca846!2s205%20N%20Michigan%20Ave%20Suit%20810%2C%20Chicago%2C%20IL%2060601%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1658551322537!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <ul class="ul-disc">
                            <li>Bway Bldg. Brgy. Tenejero, Balanga City, Bataan, Philippines</li>
                            <li>Phone: (63) 9456-227890</li>
                            <li>Email: <a href="#" class="__cf_email__" data-cfemail="690a06071d080a1d292c1f081b08470a0604">primehr@info.com</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-border">
                        <h6 class="f-18">Similar jobs</h6>
                        <div class="sidebar-list-job">
                            <ul>
                                <li>
                                    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
                                        <div class="image"><a href="job-details.html"><img src="images/job-details/brand-1.png" alt=""></a></div>
                                        <div class="info-text">
                                            <h5 class="font-md font-bold color-brand-1"><a href="job-details.html">UI / UX Designer fulltime</a></h5>
                                            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>3</span><span> mins ago</span></span></div>
                                            <div class="mt-5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="card-price">$250<span>/Hour</span></h6>
                                                    </div>
                                                    <div class="col-6 text-end"><span class="card-briefcase">New York, US</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
                                        <div class="image"><a href="job-details.html"><img src="images/job-details/brand-2.png" alt=""></a></div>
                                        <div class="info-text">
                                            <h5 class="font-md font-bold color-brand-1"><a href="job-details.html">Java Software Engineer</a></h5>
                                            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>5</span><span> mins ago</span></span></div>
                                            <div class="mt-5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="card-price">$500<span>/Hour</span></h6>
                                                    </div>
                                                    <div class="col-6 text-end"><span class="card-briefcase">Tokyo, Japan</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
                                        <div class="image"><a href="job-details.html"><img src="images/job-details/brand-3.png" alt=""></a></div>
                                        <div class="info-text">
                                            <h5 class="font-md font-bold color-brand-1"><a href="job-details.html">Frontend Developer</a></h5>
                                            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>8</span><span> mins ago</span></span></div>
                                            <div class="mt-5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="card-price">$650<span>/Hour</span></h6>
                                                    </div>
                                                    <div class="col-6 text-end"><span class="card-briefcase">Hanoi, Vietnam</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
                                        <div class="image"><a href="job-details.html"><img src="images/job-details/brand-4.png" alt=""></a></div>
                                        <div class="info-text">
                                            <h5 class="font-md font-bold color-brand-1"><a href="job-details.html">Cloud Engineer</a></h5>
                                            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>12</span><span> mins ago</span></span></div>
                                            <div class="mt-5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="card-price">$380<span>/Hour</span></h6>
                                                    </div>
                                                    <div class="col-6 text-end"><span class="card-briefcase">Losangl, Au</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
                                        <div class="image"><a href="job-details.html"><img src="images/job-details/brand-5.png" alt=""></a></div>
                                        <div class="info-text">
                                            <h5 class="font-md font-bold color-brand-1"><a href="job-details.html">DevOps Engineer</a></h5>
                                            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>34</span><span> mins ago</span></span></div>
                                            <div class="mt-5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="card-price">$140<span>/Hour</span></h6>
                                                    </div>
                                                    <div class="col-6 text-end"><span class="card-briefcase">Paris, France</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
                                        <div class="image"><a href="job-details.html"><img src="images/job-details/brand-6.png" alt=""></a></div>
                                        <div class="info-text">
                                            <h5 class="font-md font-bold color-brand-1"><a href="job-details.html">Figma design UI/UX</a></h5>
                                            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>45</span><span> mins ago</span></span></div>
                                            <div class="mt-5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h6 class="card-price">$290<span>/Hour</span></h6>
                                                    </div>
                                                    <div class="col-6 text-end"><span class="card-briefcase">New York, US</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50 mb-50">
        <div class="container">
            <div class="text-left">
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Featured Jobs</h2>
                <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
            </div>
            <div class="mt-50">
                <div class="box-swiper style-nav-top">
                    <div class="swiper-container swiper-group-4 swiper">
                        <div class="swiper-wrapper pb-10 pt-5">
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="images/job-details/brand-6.png" alt="jobBox"></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Quora JSC</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Senior System Engineer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Part time</span><span class="card-time">5<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="job-details.html">PHP</a><a class="btn btn-grey-small mr-5" href="job-details.html">Android    </a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$800</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="images/job-details/brand-4.png" alt=""></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Dailymotion</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Frontend Developer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Typescript</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Java</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="images/job-details/brand-8.png" alt=""></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Periscope</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Lead Quality Control QA</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="job-details.html">iOS</a><a class="btn btn-grey-small mr-5" href="job-details.html">Laravel</a><a class="btn btn-grey-small mr-5" href="job-details.html">Golang</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box"><img src="images/job-details/brand-4.png" alt=""></div>
                                        <div class="right-info"><a class="name-job" href="company-details.html">Dailymotion</a><span class="location-small">New York, US</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Frontend Developer</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">Full time</span><span class="card-time">6<span> minutes ago</span></span></div>
                                        <p class="font-sm color-text-paragraph mt-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Typescript</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Java</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">$250</span><span class="text-muted">/Hour</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <div class="btn btn-apply-now" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Apply now</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-button-next-4"></div>
                    <div class="swiper-button-prev swiper-button-prev-4"></div>
                </div>
                <div class="text-center"><a class="btn btn-grey" href="#">Load more posts</a></div>
            </div>
        </div>
    </section>
</main>
<footer class="footer mt-0" style="background:transparent; border-top: none;">
    <div class="container">
        <div class="footer-bottom mt-50 border-0">
            <div class="row">
                <div class="col-md-6"><span class="font-xs color-text-paragraph">Copyright ©2023 Nspire, <a href="https://www.primehr.ph">PrimeHR v4</a> All Right Reserved</span></div>
                <div class="col-md-6 text-md-end text-start">
                    <div class="footer-social"><a class="font-xs color-text-paragraph" href="#">Privacy Policy</a><a class="font-xs color-text-paragraph mr-30 ml-30" href="#">Terms &amp; Conditions</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>


@code {

}
