@page "/viewer/{_reportName}"
@page "/viewer/{_reportName}/{parameter}"
@inject IJSRuntime JSRuntime
@implements IDisposable
@*<button @onclick="LoadDataAsync">Load Report</button>*@
<div id="viewer" style="width:100%; height: 100%" data-bind="dxReportViewer: $data"></div>

@code {
    [Parameter]
    public string _reportName { get; set; }                                                           
    [Parameter]
    public string? parameter { get; set; }
    protected override async void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeAsync<object>("JsFunctions.InitWebDocumentViewer");
        await LoadDataAsync();
    }

    public void Dispose()
    {
        JSRuntime.InvokeAsync<string>("JsFunctions.Dispose", "viewer");
    }

    async Task LoadDataAsync()
    {
        await JSRuntime.InvokeVoidAsync("JsFunctions.OpenReport", parameter, _reportName);
    }
}