@page "/test-home"


<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url("./images/primehr-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    .main {
        display: block;
        margin-top: 0;
    }

    .banner-hero.banner-homepage5 {
        background-color: none;
    }

    .banner-hero.hero-1 {
        background: none;
    }

    html {
        overflow: scroll;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }

    a {
        color: #05264E !important;
    }

    .btn.btn-default {
        color: #ffffff !important;
        background-color: #05264E;
        padding: 10px 25px;
    }

        .btn.btn-default:hover {
            background-color: #3466aa;
            transform: translateY(-2px);
            transition: 0.2s;
        }
    ul.mobile-menu.font-heading {
        padding-left: 0;
    }
</style>

<link rel="stylesheet" href="/css/style.css" type="text/css" />

<header class="header sticky-bar" style="background:transparent; border-bottom: none;">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a class="d-flex" href="/test-home"><img alt="" src="images/primehr-logo.svg"></a></div>
            </div>
            <div class="header-nav">

                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
            <div class="header-right">
                <div class="block-signin">
                    <a class="text-link-bd-btom hover-up" href="/applicant">Register</a>
                    <a class="btn btn-default btn-shadow ml-40 hover-up" href="/login">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-search mobile-header-border mb-30">
                    <form action="#">
                        <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start-->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li>
                                <a href="/test-home">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="mobile-menu font-heading">
                            <li><a href="/applicant">Register</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-search mobile-header-border mb-30">
                    <form>
                        <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start-->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li>
                                <a href="/test-home">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="mobile-menu font-heading">
                            <li><a href="/applicant">Register</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <section class="section-box mb-70">
        <div class="banner-hero hero-1 banner-homepage5">
            <div class="banner-inner">
                <div class="row">
                    <div class="col-xl-7 col-lg-12">
                        <div class="block-banner">
                            <h1 class="heading-banner wow animate__animated animate__fadeInUp">The #1 <span class="color-lightblue">Job Portal</span><br class="d-none d-lg-block">  on your next job!</h1>
                            <div class="banner-description mt-20 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">A Top Recruitment Firm in the Philippines that Proudly Leads Innovation for Talent Sourcing and Headhunting</div>
                            <div class="mt-30"> <a class="btn btn-default mr-15">Get Started</a><a class="btn btn-border-brand-2 border-0">Learn more</a></div>

                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-12 d-none d-xl-block col-md-6">
                        <div class="banner-imgs">
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="box-search-2">

                    <div class="block-banner">
                        <div class="form-find mt-40 wow animate__animated animate__fadeIn" data-wow-delay=".2s">
                            <form action="">
                                <input class="form-input input-keysearch mr-10" type="text" placeholder="Your keyword... ">


                                <button class="btn btn-default btn-find font-sm">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="list-tags-banner mt-20 float-end wow animate__animated animate__fadeInUp" data-wow-delay=".3s"><strong>Popular Searches: </strong><a href="#">Designer</a>, <a href="#">Web</a>, <a href="#">IOS</a>, <a href="#">Developer</a>, <a href="#">PHP</a>, <a href="#">Senior</a>, <a href="#">Engineer</a></div>

                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer mt-0" style="background:transparent; border-top: none;">
    <div class="container">
        <div class="footer-bottom mt-50 border-0">
            <div class="row">
                <div class="col-md-6"><span class="font-xs color-text-paragraph">Copyright ©2023 Nspire, <a href="https://www.primehr.ph">PrimeHR v4</a> All Right Reserved</span></div>
                <div class="col-md-6 text-md-end text-start">
                    <div class="footer-social"><a class="font-xs color-text-paragraph" href="#">Privacy Policy</a><a class="font-xs color-text-paragraph mr-30 ml-30" href="#">Terms &amp; Conditions</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>


@code {

}
