<!--<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer-center" style="margin-top: 15px;">
            <div class="text-center">
                Copyright ©2022 Nspire, <a href="https://www.primehr.ph">PrimeHR v4</a> ®
                @{
                    Version version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
                    <b>Build : @string.Format("{0}.{1}.{2}.{3}", version.Major, version.Minor, version.Build, version.Revision)</b>
                }
            </div>
        </div>
    </div>
</div>-->


<footer class="primehr-footer mt-20">
    <div class="primehr-container">
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center mb-25">
                   <p class="font-sm color-text-paragraph-2"> Copyright ©2023 Nspire, <a href="https://www.primehr.ph">PrimeHR v4</a> ®
                    @{
                        Version version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
                        <b>Build : @string.Format("{0}.{1}.{2}.{3}", version.Major, version.Minor, version.Build, version.Revision)</b>
                    }</p>
                </div>    
            </div>
        </div>
    </div>
</footer>

