@layout MainLayout
@page "/ecemployee"


<h3>ECEmployee</h3>

<EditForm Model="employee" OnSubmit="HandleSubmit">
    <div class="form-group">
        <label>First Name</label>
        <InputText @bind-Value="employee.FirstName" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label>Middle Name</label>
        <InputText @bind-Value="employee.MiddleName" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <InputText @bind-Value="employee.LastName" class="form-control"></InputText>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</EditForm>


@code {
    public HRMSv4.Shared.OnBoarding.Employee employee { get; set; } = new HRMSv4.Shared.OnBoarding.Employee();

    void HandleSubmit()
    {
        Console.WriteLine("Submit was called!");
    }
}
