@layout MainLayout
@*@page "/masterdata/EmployeeDetail/{id:int}"*@
@page "/masterdata/EmployeeDetail"
@*@inject IEmployee EmployeeService*@

<h3>EmployeeDetail</h3>

@*@if (employee == null)
{
    <span>Employee detail is loading</span>

} else
{   
    <h3>Employee name is @employee.FirstName, @employee.LastName</h3>
}*@


@code {
    //[Parameter]
    //public int Id { get; set; }

    //HRMSv4.Shared.OnBoarding.Employee employee = new HRMSv4.Shared.OnBoarding.Employee();

    //protected override async Task OnParametersSetAsync()
    //{
    //    Console.WriteLine("This is the Id -> " + Id);
    //    employee = await EmployeeService.Get(Id);        
    //}
}
