@if (Data == null)
{  
    <div class="container" style="display:flex;justify-content:center;align-items:center">
        <div class="loader" style="position: absolute; top: 50%; left: 50%; font-weight: 600; transform: translate(-50%, -50%);">
       <center>
           <div class="ball-pulse ">
            <div></div>
            <div></div>
            <div></div>
           </div>
        </center>
        <p class="text-center"><span class="ball-pulse" aria-hidden="true"></span> @Message</p>
    </div>
    </div>
    
   
}
else
{
    @ChildContent
}


@code {
    [Parameter]
    public string Message { get; set; } = string.Empty;

    [Parameter]
    public object Data { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}