@inherits LayoutComponentBase
<style>
    .blazored-modal-focus-trap{
        z-index: 102;
    }
</style>
@*<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css" />*@
<div>
    @Body
</div>
@code {

}
