@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="spinner"></div>
    <p style="margin: 0; position: absolute; top: 50%; left: 50%; margin-left: -6em; margin-top: 6em; font-weight: 600">Loading please wait...</p>
}
@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(4000); // TODO actual initialization job
        isLoaded = true;
    }
}
