@using Faso.Blazor.SpinKit
@inject SpinnerService SpinnerService

<style>
    .spinner-container {
        position: absolute;
        z-index: 100;
        width: 100vw;
        text-align: center;
        top: 50vh;
    }

    .sk-spinner-pulse {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background-color: white !important;
        border-radius: 100%;
        -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
        animation: sk-pulseScaleOut 1s infinite ease-in-out;
    }

    .sk-three-bounce {
        margin: 10px auto !important;
    }
</style>
@if (IsVisible)
{
    <div class="spinner-container">
        <SpinKitThreeBounce />
        <span style="color: deepskyblue; margin-top: -32px;">@SpinnerMessage</span>
    </div>
}
@code
{
    [Parameter] public string SpinnerMessage { get; set; } = "Please wait processing...";
    protected bool IsVisible { get; set; }
    protected override void OnInitialized()
    {
        SpinnerService.OnShow += ShowSpinner;
        SpinnerService.OnHide += HideSpinner;
    }

    public void ShowSpinner()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void HideSpinner()
    {
        IsVisible = false;
        StateHasChanged();
    }
}