@page "/module-deductiontype"
@inject IStaffing serviceStaffing
@inject IJSRuntime JSRuntime
@inject SweetAlertService _swal
@using HRMSv4.Client.Interface.Payroll
@using HRMSv4.Client.Service
@using HRMSv4.Shared.Payroll;
@using DevExpress.Blazor
@inject IDeductionTypes _deductionTypeServices

<AuthorizeView Roles="Job Provider, Administrator" Context="_headerctx">

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h3>
                Deduction Types
            </h3>
        </div>
        <div class="page-title-actions">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/module-deductions">Deductions</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Deduction Types</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="min-card mb-3 card row">
    <div class="card-body mb-4" onbeforeunload="TestDataTablesRemove('#example')" style="width: margin: 0 auto;">
        <div class="col-lg-16" align="right">
            <button class="mb-2 me-2 btn btn-outline-2x btn-outline-primary" style="margin-bottom: 10px; width:200px" onclick="@InsertRow"> Add </button>
        </div>
        <DxGrid @ref="MyGrid" Data="deductiontypes"
                ValidationEnabled="false"
                CustomizeEditModel="Grid_CustomizeEditModel"
                EditModelSaving="Grid_EditModelSaving"
                DataItemDeleting="Grid_DataItemDeleting"
                PopupEditFormCssClass="pw-800"
                EditMode="GridEditMode.EditRow"
                PagerVisible="true"
                PageSize="10"
                ShowFilterRow="true">
            <Columns>
                <DxGridDataColumn FieldName="DeductionTypeName" Caption="Type Name">
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="DeductionTypeId" Caption="Action" AllowSort="false" TextAlignment="GridTextAlignment.Center" Width="30%">
                    <CellDisplayTemplate>
                        @{
                            var temp = (context.DataItem as HRMSv4.Shared.Payroll.DeductionType);

                        }
                        <button data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Edit" class="border-0 btn-transition btn btn-outline-success" @onclick="()=> EditRow(temp)"><span class="pe-7s-note"></span></button>
                        <button data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Delete" class="border-0 btn-transition btn btn-outline-danger" @onclick="()=> DeleteRow((int)context.Value)"><span class="pe-7s-trash"></span></button>
                    </CellDisplayTemplate>
                </DxGridDataColumn>
            </Columns>
        </DxGrid>
    </div>
</div>

</AuthorizeView>

@code {

    IGrid? MyGrid { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    List<HRMSv4.Shared.Payroll.DeductionType> deductiontypes = new List<HRMSv4.Shared.Payroll.DeductionType>();

    protected override async Task OnInitializedAsync()
    {
        deductiontypes = await _deductionTypeServices.All();
        this.StateHasChanged();
    }

    async Task InsertRow()
    {
        var _modalStatus = Modal.Show<HRMSv4.Client.Shared.Modals.Payroll.DeductionTypeModal>("Add Deduction Type");
        var modalResult = await _modalStatus.Result;
        if (!modalResult.Cancelled)
        {
            deductiontypes = await _deductionTypeServices.All();
            this.StateHasChanged();
        }
    }

    async Task EditRow(HRMSv4.Shared.Payroll.DeductionType lt)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(HRMSv4.Client.Shared.Modals.Payroll.DeductionTypeModal.DeductionTypeId), lt.DeductionTypeId);

        var options = new ModalOptions()
            {
                DisableBackgroundCancel = true,
                Animation = ModalAnimation.FadeIn(0.2),

            };
        
        var _modalStatus = Modal.Show<HRMSv4.Client.Shared.Modals.Payroll.DeductionTypeModal>("Edit Leave Permission", parameters, options);
        var modalResult = await _modalStatus.Result;
        if (!modalResult.Cancelled)
        {
            deductiontypes = await _deductionTypeServices.All();
            this.StateHasChanged();
        }

    }

    async Task DeleteRow(int id)
    {
        try
        {
            SweetAlertResult res = await _swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Are you sure?",
                    Text = "You will not be able to recover this record!",
                    Icon = "warning",
                    ShowCancelButton = true,
                    ConfirmButtonText = "Yes, delete it!",
                    CancelButtonText = "No, keep it",
                    CancelButtonColor = "red"
                });

            if (!string.IsNullOrEmpty(res.Value))
            {
                var result = await _deductionTypeServices.Delete(id);

                if (result.StatusCode == 200)
                {

                    deductiontypes = await _deductionTypeServices.All();
                    StateHasChanged();

                    await _swal.FireAsync(
                                  "Deleted",
                                  "Record has been deleted.",
                                  "success"
                                  );
                }
                else
                {
                    await _swal.FireAsync(
                      "Oops...",
                      "Something went wrong.",
                      "error"
                      );
                }
            }

        }
        catch (Exception)
        {

            throw;
        }
    }

    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {

    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {

    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {

    }

}
