@page "/search"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationHelper

<div class="mb-3 mt-2">
    <span>About 100 (0.39 sec) results</span>
</div>
<div class="row">
    <div class="col-md-9 col-md-pull-3">
        <div class="page-title-heading">
            <h4 class="display-4">Applicants</h4>
            <hr class="my-4">
        </div>
        <div class="main-card mb-3 card">
            <div class="card-header text-default">Ronald Aguirre</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="avatar-icon-wrapper avatar-icon-xl">
                            <div class="avatar-icon">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar 5">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <p class="info">New York, NY 20188</p>
                        <p class="description">Not just usual Metro. But something bigger. Not just usual widgets, but real widgets. Not just yet another admin template, but next generation admin template.</p>
                    </div>
                </div>
            </div>
            <div class="d-block text-end card-footer">
                <button class="btn btn-success btn-lg">Goto Employee Dashboard</button>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-header text-default">Ronald Aguirre</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="avatar-icon-wrapper avatar-icon-xl">
                            <div class="avatar-icon">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar 5">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <p class="info">New York, NY 20188</p>
                        <p class="description">Not just usual Metro. But something bigger. Not just usual widgets, but real widgets. Not just yet another admin template, but next generation admin template.</p>
                    </div>
                </div>
            </div>
            <div class="d-block text-end card-footer">
                <button class="btn btn-success btn-lg">Goto Employee Dashboard</button>
            </div>
        </div>
        <!-- Employee -->
        <div class="page-title-heading">
            <h4 class="display-4">Employees</h4>
            <hr class="my-4">
        </div>
        <div class="main-card mb-3 card">
            <div class="card-header text-default">Ronald Aguirre <div class="ml-2 me-2 badge bg-success">Plantilla</div></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="avatar-icon-wrapper avatar-icon-xl">
                            <div class="avatar-icon">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar 5">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <p class="info">New York, NY 20188</p>
                        <p class="description">Not just usual Metro. But something bigger. Not just usual widgets, but real widgets. Not just yet another admin template, but next generation admin template.</p>
                    </div>
                </div>
            </div>
            <div class="d-block text-end card-footer">
                <button class="btn btn-success btn-lg">Goto Employee Dashboard</button>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-header text-default">Ronald Aguirre<div class="ml-2 me-2 badge bg-warning">Non Plantilla</div></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="avatar-icon-wrapper avatar-icon-xl">
                            <div class="avatar-icon">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar 5">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <p class="info">New York, NY 20188</p>
                        <p class="description">Not just usual Metro. But something bigger. Not just usual widgets, but real widgets. Not just yet another admin template, but next generation admin template.</p>
                    </div>
                </div>
            </div>
            <div class="d-block text-end card-footer">
                <button class="btn btn-success btn-lg">Goto Employee Dashboard</button>
            </div>
        </div>

        <div class="text-align-center">
            <ul class="pagination pagination-sm">
                <li class="disabled">
                    <a href="#">Prev</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 col-md-push-9">
        <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
        <p class="text-muted fs-mini">Listed content is categorized by the following groups:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left me-3">
                            <div class="icon-wrapper m-0">
                                <div class="progress-circle-wrapper">
                                    <div class="circle-progress d-inline-block circle-progress-success">
                                        <canvas width="52" height="52"></canvas>
                                        <small><span>81%<span></span></span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Applicants</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers widget-numbers-sm text-primary">
                                <span>764</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left me-3">
                            <div class="icon-wrapper m-0">
                                <div class="progress-circle-wrapper">
                                    <div class="circle-progress d-inline-block circle-progress-info">
                                        <canvas width="52" height="52"></canvas>
                                        <small><span>69%<span></span></span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Employees</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers widget-numbers-sm text-warning">
                                <span>194</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left me-3">
                            <div class="icon-wrapper m-0">
                                <div class="progress-circle-wrapper">
                                    <div class="circle-progress d-inline-block circle-progress-danger">
                                        <canvas width="52" height="52"></canvas>
                                        <small><span>23%<span></span></span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">HR Policies</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers widget-numbers-sm text-danger">
                                <span>54</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


@code {
    [Parameter]
    public string Values { get; set; }

     protected override async Task OnInitializedAsync()
    {
        var uri = NavigationHelper.ToAbsoluteUri(NavigationHelper.Uri);

        var user = (await _AutService.GetAuthenticationStateAsync()).User;

        if (!user.Identity.IsAuthenticated)
        {
            _navigation.NavigateTo("/");
        }

        //if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("Value", out var value))
        //{
        //    Value = value.First();
        //}
    }
}