@using HRMSv4.Shared.Exam
@inject IExam service


    @if (res.Question != null)
    {
        @if (res.Question.Count > 0)
        {
            @foreach (var item in res.Question)
            {
                <div class="card-header d-flex justify-content-between align-items-center">
                    Subject: @item.SubjectName
                    <div class="sub-label-left"> <span class="sub-label-right" style="color:#043b8d; margin-left: 15px;">@ProgressValue%</span> Total Progress</div>
                    <div class="col">
                        <div class="widget-progress-wrapper">
                            <div class="progress-bar-sm progress-bar-animated-alt progress" style="border-radius: unset !important;">
                                <div class="progress-bar bg-focus" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: @ProgressValue%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }

    <div class="main-card mb-3 card-border card" style="padding: 20px;">
        <div class="no-results">
            <div class="swal2-icon swal2-success swal2-animate-success-icon">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                <span class="swal2-success-line-tip"></span>
                <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div>
                <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
            </div>
            <div class="results-subtitle mt-4">Finished!</div>
            <div class="results-title">You exam was successfully submitted.</div>
            <div class="mt-3 mb-3"></div>
            <div class="text-center">
                <button class="btn-shadow btn-wide btn btn-success btn-lg">Done</button>
            </div>
        </div>
    </div>

@code {
    [Parameter] public int ApplicantExamId { get; set; }

    private QuestionQueueView res = new QuestionQueueView();

    private int ProgressValue { get; set; } = 0;
    private int PercentageValue { get; set; } = 0;

    private int questionResults = 0;

    protected async override Task OnParametersSetAsync()
    {
        await Task.Delay(1000); // simulate loading

        res = await service.GetApplicantExam(ApplicantExamId, 0, true,false);
        questionResults = res.Question.Count();

        decimal rawr = ((decimal)res.TotalAnsweredQuestionCount / (decimal)res.TotalQuestionCount) * 100;

        if (rawr > 0)
        {
            ProgressValue = Convert.ToInt32(rawr);
        }

        this.StateHasChanged();
    }
}
