@page "/Logic"
 <div>
        <div class="container p-0">
            <div style="margin: 1rem auto;">
                <div class="head col-10 mx-auto">
                    <div class="row" style="margin-left: 0; margin-right: 0;">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="timer" style="max-width: 100px; height: 40px; border-radius: 5px; background:rgb(221 223 252); margin: 0 auto; margin-top: 10px; margin-bottom: 10px; display: flex; align-items: center;">
                            <p style="color: black; font-weight: bold; text-align: center; margin: 10px auto;">00.00.00</p>
                            </div>
                        </div>
                        <div class="col-3 d-flex justify-content-end align-items-center">
                            <button style="border: none; background: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="main col-10" style="background:rgb(244 248 252); margin: 0 auto; border-radius: 10px; border-style: solid; border-width: 1px; border-color: black;">
                    <header style="width: 100%; height: 60px; background:rgb(244 248 252); margin: 0 auto; border-top-left-radius: 10px; border-top-right-radius: 10px; border-style: solid; border-bottom-width: 1px; border-top-width: 0; border-left-width: 0; border-right-width: 0; border-color: rgb(222 222 222);">
                        <section class="col-12">
                            <div class="row" style="margin-right: 0; margin-left: 0;">
                                <div class="col-6 align-items-center">
                                    <h4 style="margin-left: 10px; margin-right: 10px;">1/20</h4>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-between" style="margin-right: 10px;">
                                        <h4>Previous</h4>
                                        <h4>Skip</h4>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </header>
                    <main>
                        <section class="col-12">
                            <div class="row" style="margin-right: 0; margin-left: 0;">
                                <div class="col-lg-6 col-md-6 col-sm-12" style="margin: 30px auto;">
                                    <img style="width: 100%; height: 100%; border-radius: 0px;" alt="" src="https://dd7tel2830j4w.cloudfront.net/f1619620533832x433131910406034500/Q1.svg">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 p-0" style="margin: 20px auto;">
                                    <div class="row d-flex justify-content-evenly" style="margin-left: 0; margin-right: 0; margin-top: 15px; margin-bottom: 15px;">
                                        <div class="col-5 card mt-3 mb-3">
                                            <div class="card-text">
                                                A.
                                            </div>
                                            <div class="card-image">
                                                <img style="width: 100%; height: 100%; border-radius: 0px;" alt="" src="https://dd7tel2830j4w.cloudfront.net/f1619620616027x749775513973640600/Q%201%20A%20%281%29.svg">
                                            </div>
                                        </div>
                                        <div class="col-5 card mt-3 mb-3">
                                            <div class="card-text">
                                                B.
                                            </div>
                                            <div class="card-image">
                                                <img style="width: 100%; height: 100%; border-radius: 0px;" alt="" src="https://dd7tel2830j4w.cloudfront.net/f1619620604000x436440903663458400/Q%201%20A%20%282%29.svg">
                                            </div>
                                        </div>
                                        <div class="col-5 card mt-3 mb-3">
                                            <div class="card-text">
                                                C.
                                            </div>
                                            <div class="card-image">
                                                <img style="width: 100%; height: 100%; border-radius: 0px;" alt="" src="https://dd7tel2830j4w.cloudfront.net/f1619620628324x813131711903281900/Q%201%20A%20%283%29.svg">
                                            </div>
                                        </div>
                                        <div class="col-5 card mt-3 mb-3">
                                            <div class="card-text">
                                                D.
                                            </div>
                                            <div class="card-image">
                                                <img style="width: 100%; height: 100%; border-radius: 0px;" alt="" src="https://dd7tel2830j4w.cloudfront.net/f1619620647449x949628165349358000/Q%201%20A%20%284%29.svg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div>
@code {

}
