@using DevExpress.Blazor
@using HRMSv4.Shared.Payroll;
@inject IEmpLoan service

<BusyIndicator Message="Please wait while loading data..." Data="empLoans">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-12 mt-2">
                        <h5 class="row card-header-text float-start">Schedule Logs</h5>
                        @*<button class="mb-2 me-2 btn btn-outline-2x btn-outline-primary float-end" onclick="@PrintServiceRecord" style="margin-bottom: 10px; width:200px"> Print </button>*@
                    </div>
                </div>
                <div class="card-block">
                    <div class="col-sm-12 col-xl-12 col-md-12 p-2">
                        <div class="card">
                            <DxGrid Data="@EmployeeLoan" PageSize="35"
                                    PagerPosition="GridPagerPosition.Bottom"
                                    PageSizeSelectorVisible="true"
                                    PageSizeSelectorItems="@(new int[] { 5, 10, 20, 100 })"
                                    PageSizeSelectorAllRowsItemVisible="true"
                                    PagerSwitchToInputBoxButtonCount="10"
                                    PagerVisibleNumericButtonCount="10">

                                <Columns>
                                    <DxGridDataColumn FieldName="LoanTypeName" TextAlignment="GridTextAlignment.Left" Width="250px" />
                                    <DxGridDataColumn FieldName="DeductionAmount" TextAlignment="GridTextAlignment.Right" Width="150px" />
                                    <DxGridDataColumn FieldName="Cutoff" TextAlignment="GridTextAlignment.Left" Width="150px" />

                                </Columns>
                            </DxGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</BusyIndicator>

@code {
    [Parameter]
    public int employeeId { get; set; }

    [CascadingParameter] public IModalService Modal { get; set; }

    List<EmployeeLoanView> empLoans;

    string userId = "";
    object EmployeeLoan{ get; set; }
    GridDevExtremeDataSource<EmployeeLoanView> gridDevExtremeDataSource;

    protected override async Task OnInitializedAsync()
    {
        empLoans = null;
        var user = (await _AutService.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;
        await UpdateDataAsync();
    }

    async Task UpdateDataAsync()
    {
        empLoans = await service.GetAll(employeeId);

        var tempList = empLoans.ToList().AsQueryable();

        gridDevExtremeDataSource = new GridDevExtremeDataSource<EmployeeLoanView>(tempList);
        gridDevExtremeDataSource.CustomizeLoadOptions = (loadOptions) =>
        {
            loadOptions.PrimaryKey = new[] { "LoanTypeId" };
            loadOptions.PaginateViaPrimaryKey = true;

        };

        EmployeeLoan = gridDevExtremeDataSource;


        StateHasChanged();
    }

    async Task PrintServiceRecord()
    {

    }
}
