@using HRMSv4.Client.Shared.Modals
@inject ITrainingSeminar service
@inject SweetAlertService Swal;
@using static HRMSv4.Shared.OnBoarding.TrainingSeminar
@using DevExpress.Blazor

<BusyIndicator Message="Please wait while loading data..." Data="trainSemListView">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-12 mt-2">
                        <h5 class="card-header-text float-start">Trainings and Seminars</h5>
                        @*<button class="mb-2 me-2 btn btn-outline-2x btn-outline-primary float-end" onclick="@InsertRow" style="margin-bottom: 10px; width:200px"> + Add </button>*@
                        <button class="mb-2 me-2 btn btn-outline-2x btn-outline-primary float-end" onclick="@InsertRow2" style="margin-bottom: 10px; width:200px"> + Add</button>
                        
                    </div>
                </div>
                <div class="card-block">
                    <!-- Educataional Tab -->
                    <div class="col-12 p-2">
                        <div class="card">
                            <DxGrid Data="@TrainingSeminarList" PageSize="20"
                                    ShowFilterRow="true"
                                    PagerPosition="GridPagerPosition.Bottom"
                                    PageSizeSelectorVisible="true"
                                    PageSizeSelectorItems="@(new int[] { 5, 10, 20, 100 })"
                                    PageSizeSelectorAllRowsItemVisible="true"
                                    PagerSwitchToInputBoxButtonCount="10"
                                    PagerVisibleNumericButtonCount="10">

                                <Columns>
                                    <DxGridDataColumn FieldName="Title" />
                                    <DxGridDataColumn FieldName="NatureOfParticioation" />
                                    <DxGridDataColumn FieldName="SponsoringAgency" />
                                   @* <DxGridDataColumn FieldName="Status" />*@
                                    <DxGridDataColumn FieldName="InclusiveDates" />
                                    <DxGridDataColumn FieldName="NumberOfHours" />
                                    <DxGridDataColumn FieldName="" Caption="Action" AllowSort="false" Width="90px" MinWidth="100" TextAlignment="GridTextAlignment.Center">
                                        <CellDisplayTemplate>
                                            @{
                                                var temp = (context.DataItem as TrainingSeminarListview);
                                            }
                                            <button class="border-0 btn-transition btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bs-original-title="Apply for job" @onclick="(() => EditRow(temp.TrainingSeminarId))">
                                                <i class="fas fa-pen"></i>
                                            </button>
                                            <button class="border-0 btn-transition btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Apply for job" @onclick="(() => DeleteRow(temp))">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </CellDisplayTemplate>
                                    </DxGridDataColumn>
                                </Columns>
                            </DxGrid>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BusyIndicator>
@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter]
    public int employeeId { get; set; }

    [Parameter]
    public bool isLoaded { get; set; }

    IEnumerable<TrainingSeminarListview> trainSemListView;
    //RadzenDataGrid<TrainingSeminarListview> tsGrid;

    string userId = "";
    object TrainingSeminarList { get; set; }
    GridDevExtremeDataSource<TrainingSeminarListview> gridDevExtremeDataSource;

    protected override async Task OnInitializedAsync()
    {
        trainSemListView = null;
        var user = (await _AutService.GetAuthenticationStateAsync()).User;
        userId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;
        await UpdateDataAsync();
    }

    async Task UpdateDataAsync()
    {
        trainSemListView = await service.GetAll(employeeId);

        var tempList = trainSemListView.AsQueryable();

        gridDevExtremeDataSource = new GridDevExtremeDataSource<TrainingSeminarListview>(tempList);
        gridDevExtremeDataSource.CustomizeLoadOptions = (loadOptions) =>
        {
            loadOptions.PrimaryKey = new[] { "TrainingSeminarId" };
            loadOptions.PaginateViaPrimaryKey = true;

        };

        TrainingSeminarList = gridDevExtremeDataSource;


        StateHasChanged();
    }

    //protected override async Task OnParametersSetAsync()
    //{
    //    if (employeeId > 0)
    //    {
    //        await Task.Delay(1000); // simulate loading
    //        trainSemListView = await service.GetAll(employeeId);
    //        this.StateHasChanged();
    //    }
    //}

    async Task InsertRow()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(HRMSv4.Client.Shared.Modals.TrainingSeminarModal.employeeId), employeeId);
        var options = new ModalOptions()
            {
                DisableBackgroundCancel = true
            };
        var _modalStatus = Modal.Show<HRMSv4.Client.Shared.Modals.TrainingSeminarModal>("New Training and Seminar", parameters, options);
        var modalResult = await _modalStatus.Result;
        if (!modalResult.Cancelled)
        {
            await UpdateDataAsync();
            this.StateHasChanged();
        }
    }

    async Task InsertRow2()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(HRMSv4.Client.Shared.Modals.TrainingSeminarModalv2.employeeId), employeeId);
        var options = new ModalOptions()
            {
                DisableBackgroundCancel = true
            };
        var _modalStatus = Modal.Show<HRMSv4.Client.Shared.Modals.TrainingSeminarModalv2>("New Training and Seminar", parameters, options);
        var modalResult = await _modalStatus.Result;
        if (!modalResult.Cancelled)
        {
            await UpdateDataAsync();
            this.StateHasChanged();
        }
    }
    async Task EditRow(int trainingSeminarId)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirm",
                Text = "Would you like to edit selected record?",
                Icon = "question",
                AllowOutsideClick = false,
                ShowCancelButton = true,
                ConfirmButtonText = "Yes",
                CancelButtonText = "Cancel",
                CancelButtonColor = "#dc3741"

            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(TrainingSeminar.TrainingSeminarId), trainingSeminarId);
            var _modalStatus = Modal.Show<TrainingSeminarEditModal>("Edit Trainings and Seminars", parameters);
            var modalResult = await _modalStatus.Result;
            if (modalResult.Cancelled == false)
            {
                await UpdateDataAsync();
                this.StateHasChanged();
            }
        }
    }

    async Task DeleteRow(TrainingSeminarListview ts)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure?",
                Text = "You are about to delete this record.",
                Icon = "warning",
                AllowOutsideClick = false,
                ShowCancelButton = true,
                ConfirmButtonText = "Yes, delete it!",
                CancelButtonText = "Cancel",
                CancelButtonColor = "#dc3741"

            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            var httRes = await service.Delete(ts.TrainingSeminarId);

            if (httRes.IsSuccessStatusCode)
            {
                await UpdateDataAsync();
                string resMsg = await httRes.Content.ReadAsStringAsync();
                await Swal.FireAsync("Success", "A record was successfully deleted.", "success");
            }
            else
            {
                await Swal.FireAsync("Oops...", "Something went wrong!", "error");
            }
        }
        else
        {
            await Swal.FireAsync("Wew!", "Your record is safe.", "success");
        }
    }
}