@inject NavigationManager navigation
<div id="top" class="utf_main_banner_area" style="background-image:url(JobPortal/assets/img/slider1.jpg);" data-overlay="8">
  <div class="container">
    <div class="col-md-8 col-sm-10">
      <div class="caption cl-white home_two_slid">
        <h2>Search and apply for current job openings with <span class="theme-cl">NSPIRE</span></h2>
        <!-- <p>Trending Jobs Keywords: <span class="trending_key"><a href="#">Web Designer</a></span> <span class="trending_key"><a href="#">Web Developer</a></span> <span class="trending_key"><a href="#">IOS Developer</a></span> <span class="trending_key"><a href="#">Android Developer</a></span></p> -->
      </div>
      <form>
        <fieldset class="utf_home_form_one">
          <div class="col-md-5 col-sm-5 padd-0">
            <input type="text" class="form-control br-1" placeholder="Search Keywords..." />
          </div>
          <div class="col-md-5 col-sm-5 padd-0">
            <select class="wide form-control" style="border-radius: 0px 0 0 0px !important">
              <option data-display="Location">All Country</option>
              <option value="1">Afghanistan</option>
              <option value="2">Albania</option>
              <option value="3">Algeria</option>
			  <option value="4">Brazil</option>
              <option value="5">Burundi</option>
              <option value="6">Bulgaria</option>
			  <option value="7">Germany</option>
              <option value="8">Grenada</option>
              <option value="9">Guatemala</option>
              <option value="10" disabled>Iceland</option>
            </select>
          </div>
          <div class="col-md-2 col-sm-2 padd-0 m-clear">
            <button @onclick="()=>Dashboard()" class="btn theme-btn cl-white seub-btn" >Search</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

@code{
    void Dashboard()
    {
        navigation.NavigateTo("/Dashboard/Employee");
    }
}