<footer class="footer">
  <div class="container"> 
    <div class="row">
	  <div class="col-md-3 col-sm-4">
        <a href="index.html"><img class="footer-logo" src="assets/img/logo.png" alt=""></a>
        <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since.</p>
        <!-- Social Box -->
        <div class="f-social-box">
          <ul>
            <li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
            <li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
          </ul>
        </div>        
      </div>	
      <div class="col-md-9 col-sm-8">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <h4>Job Categories</h4>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Work from Home</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Internship Job</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Freelancer Job</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Part Time Job</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Full Time Job</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4>Job Type</h4>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Create Account</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Career Counseling</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> My Oficiona</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> FAQ</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Report a Problem</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4>Resources</h4>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> My Account</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Support</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> How It Works</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Underwriting</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Employers</a></li>
            </ul>
          </div>
		  <div class="col-md-3 col-sm-6">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Jobs Listing</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Term & Condition</a></li>
            </ul>
          </div>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copyright text-center">
          <p>Copyright © 2022 NSPIRE Inc. All Rights Reserved</p>		  
        </div>
      </div>
    </div>
  </div>
</footer>