@inject NavigationManager nagivation

<nav class="navbar navbar-default navbar-mobile navbar-fixed white no-background bootsnav">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
      <a class="navbar-brand" href="/"> <img src="JobPortal/assets/img/logo-light.png" class="logo logo-display" alt=""> <img src="JobPortal/assets/img/logo.png" class="logo logo-scrolled" alt=""> </a> 
	</div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
        <li class="dropdown active"> <a href="/">Home</a> </li>
        <li class="dropdown"> <a href="/JobPortal/Jobs">Jobs</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="br-right"><a class="btn-signup red-btn" href="javascript:void(0)" data-toggle="modal" data-target="#signin"><i class="login-icon ti-user"></i>Login</a></li>
        <li class="sign-up"><a class="btn-signup red-btn" href="/Register" style="cursor:default;"><span class="ti-briefcase"></span>Register</a></li>
      </ul>
    </div>
  </div>
</nav>

@code {
    void Register()
    {
        nagivation.NavigateTo("/Authentication/Register");
    }

    
}